# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\github\go-snmp-agentx\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
